/* Write your CSS code here */

.heading {
  color: #6d396b;
  font-size: 30px;
  font-weight: 900;
}

.about-description {
  color: #555555;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 900;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
